<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app/assets/stylesheet/style.css.scss" rel="stylesheet">
    <title> cheif </title>

    <script type="text/javascript"> 
        function display_c(){
            var refresh=1000; // Refresh rate in milli seconds
            mytime=setTimeout('display_ct()',refresh)
        }

        function display_ct() {
            var x = new Date()
            var x1="วันที่ : "+ x.getDate() + "/"+ (parseInt(x.getMonth(), 10)+1)   + "/" + x.getFullYear(); 
            x1 = x1 + " เวลา : " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
            document.getElementById('ct').innerHTML = x1;
            display_c();
        }

    </script>
</head>

<!---------------------------------------------------โปรไฟล์---------------------------------------------------------- -->

<body onload=display_ct();>
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-column flex-grow-1">
            <div class="display-font"> ชื่อ-นามสกุล : <%=@current_user.name %> </div>
            <div class="display-font"> สถานที่ทำงาน : <%= @current_user.factory %></div>
            <div class="display-font"> ตำแหน่ง : <%= @current_user.role %> </div>
        </div>

        <div class="flex-grow-1 align-items-center">
            <h3 id='ct' class="display-font"></h3>

        </div>

        <span class="flex-grow-1 align-items-center">
            <% if @actual_time.where(user_id: @current_user.id).length == 0%>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-primary" id="logout-button" aria-hidden="true"> Check-IN </i>
            <%end%>
            <% else %>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-red" id="logout-button" aria-hidden="true"> Check-OUT </i>
                <% end %>
            <% end %>

        </span>
    </div>
    
<!-- -------------------------------------------------ตารางคนเข้างาน---------------------------------------------------------- -->
    <div id="myHeader">
        <button class="tablink" onclick="openPage('work1', this, '#5BA8A0')" id="defaultOpen">ถอนขน</button>
        <button class="tablink" onclick="openPage('work2', this, '#CBE54E')">ไก่ตกราว</button>
        <button class="tablink" onclick="openPage('work3', this, '#94B447')">เชือดไก่</button>
        <button class="tablink" onclick="openPage('work4', this, '#5D6E1E')">สินค้าแช่แข็ง</button>
    </div>
    <div id="work1" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ) <%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานถอนขน").length%> / 20 
            </div>
            <%# <% @actual_time.each do |row|%> 
                <%# <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานถอนขน").length == 0%> 
                <%# <div> %>
                    <%# <%= User.find(row.user_id).name%> 
                    <%# <%= row.time_in%> 
                <%# </div> %>
                <%# <%end%> 
            <%# <%end%>   
            <%# ======================================================================================================================= %>
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10'>
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานถอนขน_c">
                    <% @actual_time.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานถอนขน",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <td><%=  %></td>
                                <td><%= User.find(row.user_id).factory%></td>
                                <td><%=  %></td>
                            <%end%>
                        </tr>
                    <%end%>                       
                </tbody>
            </table>
            <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
                <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">Add person</i><%end%>
            </div> 
        </div>

        <div id="work2" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ) <%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานไก่ตกราว").length%> / 20
            </div>
             <!-- <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานไก่ตกราว").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> -->
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10'>
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานไก่ตกราว_c">
                    <% @actual_time.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department:"งานไก่ตกราว",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td ><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <td>...</td>
                                <td><%= User.find(row.user_id).factory%></td>
                                <td>...</td>
                            <%end%>
                        </tr>
                    <%end%>                       
                </tbody>
            </table>
            <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
                <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">Add person</i><%end%>
            </div> 
        </div>

        <div id="work3" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ) <%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานเชือดไก่").length%> / 20
            </div>
            <!-- <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานเชือดไก่").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> -->
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10'>
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานเชือดไก่_c">
                    <% @actual_time.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department:"งานเชือดไก่",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td ><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <td>...</td>
                                <td><%= User.find(row.user_id).factory%></td>
                                <td>...</td>
                            <%end%>
                        </tr>
                    <%end%>                       
                </tbody>
            </table>
            <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
                <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">Add person</i><%end%>
            </div> 
        </div>

        <div id="work4" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ) <%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานจัดเก็บและจ่ายสินค้าแช่แข็ง").length%> / 20 
            </div>
            <!-- <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"สินค้าแช่แข็ง").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> -->
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10'>
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานจัดเก็บและจ่ายสินค้าแช่แข็ง_c">
                    <% @actual_time.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%> >
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานจัดเก็บและจ่ายสินค้าแช่แข็ง").length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td ><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <td>...</td>
                                <td><%= User.find(row.user_id).factory%></td>
                                <td>...</td>
                            <%end%>
                        </tr>
                    <%end%>                       
                </tbody>
            </table>
            <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
                <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">Add person</i><%end%>
            </div> 
    </div>

    <!-- full page tab script -->
    <script> 
        //full page tab
        function openPage(pageName,elmnt,color) {
        var i, tabcontent, tablinks,department;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
        }
        document.getElementById("defaultOpen").click();

        window.onscroll = function() {myFunction()};
        
        //fixed tab
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        function myFunction() {
            if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            } else {
            header.classList.remove("sticky");
            }
        }
    </script>
    <div class="text-center d-grid" style="position: fixed; bottom:0px; height:40px; left:0px; right:0px; overflow:hidden">
        <%=link_to "จัดการเวลาทำงาน",manage_user_path,class:"btn btn-info display-font"%>
    </div>
</body>
</html>
