<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app/assets/stylesheet/style.css.scss" rel="stylesheet">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap" rel="stylesheet">

    <title> cheif </title>

    <script type="text/javascript"> 
        function display_c(){
            var refresh=1000; // Refresh rate in milli seconds
            mytime=setTimeout('display_ct()',refresh)
        }

        function display_ct() {
            var x = new Date()
            var x1="วันที่ : "+ x.getDate() + "/"+ (parseInt(x.getMonth(), 10)+1)   + "/" + x.getFullYear(); 
            x1 = x1 + " เวลา : " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
            document.getElementById('ct').innerHTML = x1;
            display_c();
        }
        function myFunction() {
            var table = document.getElementById("actual_table1");
            var row = table.insertRow(0);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = "NEW CELL1";
            cell2.innerHTML = "NEW CELL2";
        }
    </script>
</head>

<!---------------------------------------------------โปรไฟล์---------------------------------------------------------- -->

<body onload=display_ct();>
    <div data-controller="shiftcode" class="d-flex flex-row align-items-center">
        <div class="d-flex flex-column flex-grow-1">
            <p></p>
            <div class="display-font"> ชื่อ-นามสกุล : <%=@current_user.name %> </div>
            <div class="display-font"> สถานที่ทำงาน : <span id="โรงงาน"><%= @current_user.factory %></span></div>
            <div class="display-font"> ตำแหน่ง : <%= @current_user.role %> </div>
            <p></p>
        </div>

        <div class="flex-grow-1 align-items-center">
            <h3 id='ct' class="display-font"></h3>

        </div>

        <span class="flex-grow-1 align-items-center">
            <% if @actual_time.where(user_id: @current_user.id).length == 0%>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-primary" id="logout-button" aria-hidden="true"> Check-IN </i>
            <%end%>
            <% else %>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-red" id="logout-button" aria-hidden="true"> Check-OUT </i>
                <% end %>
            <% end %>

        </span>
    </div>
    <!-- -------------------------------------------------ตารางคนเข้างาน---------------------------------------------------------- -->
    <div id="myHeader" data-controller="shiftcode">
        <%# <%= content_tag :div, nil, data: {controller: "shiftcode" ,shiftcode_pagename_value: "งานถอนขน"} do %> 
        <%# <button class="tablink" onclick="openPage('งานถอนขน_p', this, '#5BA8A0')"data-controller="shiftcode" data-shiftcode-pagename-value="งานถอนขน" data-action="shiftcode#set_table_from_page" id="defaultOpen">ถอนขน</button> %>
        <%# <% end %> 
        <%# <%= content_tag :div, nil, data: {controller: "shiftcode" ,shiftcode_pagename_value: "งานไก่ตกราว"} do %> 
        <%# <button class="tablink" onclick="openPage('งานถอนขน_p', this, '#5BA8A0')" data-shiftcode-pagename-value="งานถอนขน" data-action="shiftcode#set_table_from_page" id="defaultOpen">ถอนขน</button> %>
            <%# <button class="tablink" onclick="openPage('งานไก่ตกราว_p', this, '#CBE54E')" data-controller="shiftcode" data-shiftcode-pagename-value="งานไก่ตกราว"data-action="shiftcode#set_table_from_page">ไก่ตกราว</button> %>
        <%# <%end%> 
        <%# <%= content_tag :div, nil, data: {controller: "shiftcode" ,shiftcode_pagename_value: "งานเชือดไก่"} do %> 
            <%# <button class="tablink" onclick="openPage('งานเชือดไก่_p', this, '#94B447')" data-controller="shiftcode" data-shiftcode-pagename-value="งานเชือดไก่"data-action="shiftcode#set_table_from_page">เชือดไก่</button> %>
        <%# <%end%> 
        <%# <%= content_tag :div, nil, data: {controller: "shiftcode" ,shiftcode_pagename_value: "งานจัดเก็บและจ่ายสินค้าแช่แข็ง"} do %> 
            <%# <button class="tablink" onclick="openPage('งานจัดเก็บและจ่ายสินค้าแช่แข็ง_p', this, '#5D6E1E')" data-controller="shiftcode" data-shiftcode-pagename="งานจัดเก็บและจ่ายสินค้าแช่แข็ง"data-action="shiftcode#set_table_from_page">สินค้าแช่แข็ง</button> %>
        <%# <%end%> 
        
        <div data-controller="shiftcode">
            <button class="tablink" onclick="openPage('งานถอนขน_p', this, '#5BA8A0')" data-action="shiftcode#set_table_from_page" data-shiftcode-pagename-param ="งานถอนขน" id="defaultOpen">งานถอนขน</button>
        </div>
        
        <div data-controller="shiftcode">
            <button class="tablink" onclick="openPage('งานไก่ตกราว_p', this, '#CBE54E')" data-action="shiftcode#set_table_from_page" data-shiftcode-pagename-param ="งานไก่ตกราว">งานไก่ตกราว</button>
        </div>
                
        <div data-controller="shiftcode">
            <button class="tablink" onclick="openPage('งานเชือดไก่_p', this, '#94B447')" data-action="shiftcode#set_table_from_page" data-shiftcode-pagename-param ="งานเชือดไก่">งานเชือดไก่</button>
        </div>
               
        <div data-controller="shiftcode">
            <button class="tablink" onclick="openPage('งานจัดเก็บและจ่ายสินค้าแช่แข็ง_p', this, '#5D6E1E')" data-action="shiftcode#set_table_from_page" data-shiftcode-pagename-param ="งานจัดเก็บและจ่ายสินค้าแช่แข็ง">สินค้าแช่แข็ง</button>
        </div>
    </div>

    <!-- ถอนขน --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->    
    <div id="งานถอนขน_p" class="tabcontent">
        <div class="tab">
            <button class="tablinks" type="button" onclick="opentable(event, 'plan_table1')" id="defaultOpen">PLAN</button>
            <button class="tablinks" type="button" onclick="opentable(event, 'actual_table1')">ACTAUL</button>
        </div>
        <div class="display-font h3 text-center" data-controller="shiftcode">
            <div>จำนวนพนักงาน(ที่มี/ต้องการ) <span data-shiftcode-target="actualCount"><%=@actual_time.where(department_name:"งานถอนขน", factory: @current_user.factory).length%></span> / <span data-shiftcode-target="planCount"><%=@plantime.length%></span></div>
            <div>เวลากะ : <%=select_tag :shiftcode,options_from_collection_for_select(@shift_code.limit(48),:code_name,:code_name),data:{action:"shiftcode#select_shiftcode"}%></div>        
        
            <!--<div data-controller="shiftcode">
                <select name=:shiftcode >
                    <>
                </select>
            </div>-->
        
        </div>
        <div id="actual_table1" class="minitabcontent" style="height: 400px; overflow: auto">    
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานถอนขน_c" style="height: 100%">
                    <% @history.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%> >
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานถอนขน",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <%if User.find(row.user_id).shiftcodes.length > 0%>
                                    <%@code_name = User.find(row.user_id).shiftcodes.last.code_name%>
                                    <td class=<%="time_"+@code_name%>><%=@code_name%></td>
                                <% else%>
                                    <td>#</td>
                                <%end%>
                                <td><%= User.find(row.user_id).factory%></td>
                                <%unless row.ot_time.nil?%>
                                    <td><%=row.ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <%end%>
                            <%end%>
                        </tr>
                    <%end%>   
                </tbody>
            </table>
        </div>
        <div id="plan_table1" class="minitabcontent" style="height: 400px; overflow: auto">
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานถอนขน_c" style="height: 100%">
                    <% User.all.each do |each_user|%>
                        <% if each_user.role == "คนงานทั่วไป" && each_user.department == "งานถอนขน" && each_user.factory == @current_user.factory && each_user.id != @current_user.id %>  
                            <tr>
                                <td><%= each_user.name%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[0..1]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[3..4]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[6..7]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[9..10]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name%></td>
                                <td><%= each_user.factory%></td>
                                <% unless @plantime.find_by(user_id: each_user.id).nil? %>
                                    <td><%=@plantime.find_by(user_id: each_user.id).ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <% end %>
                            </tr>
                        <% end %>  
                    <% end %>                  
                </tbody>
            </table>
        </div>
        <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
            <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">เพิ่มพนักงาน</i><%end%>
        </div> 
    </div>

    <!-- ไก่ตกราว --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->    
    <div id="งานไก่ตกราว_p" class="tabcontent">
        <div class="tab">
            <button class="tablinks" type="button" onclick="opentable(event, 'plan_table2')" id="defaultOpen">PLAN</button>
            <button class="tablinks" type="button" onclick="opentable(event, 'actual_table2')">ACTAUL</button>
        </div>
        <div class="display-font h3 text-center" data-controller="shiftcode">
            <div>จำนวนพนักงาน(ที่มี/ต้องการ) <span data-shiftcode-target="actualCount"><%=@actual_time.where(department_name:"งานไก่ตกราว", factory: @current_user.factory).length%></span> / <span data-shiftcode-target="planCount"><%=@plantime.length%></span></div>
            <div>เวลากะ : <%=select_tag :shiftcode,options_from_collection_for_select(@shift_code.limit(48),:code_name,:code_name),data:{action:"shiftcode#select_shiftcode"}%></div>
        </div>
        <div id="actual_table2" class="minitabcontent" style="height: 400px; overflow: auto">    
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานไก่ตกราว_c" style="height: 100%">
                    <% @history.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานไก่ตกราว",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <%if User.find(row.user_id).shiftcodes.length > 0%>
                                    <%@code_name = User.find(row.user_id).shiftcodes.last.code_name%>
                                    <td class=<%="time_"+@code_name%>><%=@code_name%></td>
                                <% else%>
                                    <td>#</td>
                                <%end%>
                                <td><%= User.find(row.user_id).factory%></td>
                                <%unless row.ot_time.nil?%>
                                    <td><%=row.ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <%end%>
                            <%end%>
                        </tr>
                    <%end%>   
                </tbody>
            </table>
        </div>
        <div id="plan_table2" class="minitabcontent" style="height: 400px; overflow: auto">
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานไก่ตกราว_c" style="height: 100%">
                    <% User.all.each do |each_user|%>
                        <% if each_user.role == "คนงานทั่วไป" && each_user.department == "งานไก่ตกราว" && each_user.factory == @current_user.factory && each_user.id != @current_user.id %>  
                            <tr>
                                <td><%= each_user.name%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[0..1]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[3..4]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[6..7]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[9..10]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name%></td>
                                <td><%= each_user.factory%></td>
                               <% unless @plantime.find_by(user_id: each_user.id).nil? %>
                                    <td><%=@plantime.find_by(user_id: each_user.id).ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <% end %>
                            </tr>
                        <% end %>  
                    <% end %>                      
                </tbody>
            </table>
            
        </div>
        <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
            <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">เพิ่มพนักงาน</i><%end%>
        </div> 
    </div>

    <!-- เชือดไก่ --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->    
    <div id="งานเชือดไก่_p" class="tabcontent">
        <div class="tab">
            <button class="tablinks" type="button" onclick="opentable(event, 'plan_table3')" id="defaultOpen">PLAN</button>
            <button class="tablinks" type="button" onclick="opentable(event, 'actual_table3')">ACTAUL</button>
        </div>
        <div class="display-font h3 text-center" data-controller="shiftcode">
            <div>จำนวนพนักงาน(ที่มี/ต้องการ) <span data-shiftcode-target="actualCount"><%=@actual_time.where(department_name:"งานเชือดไก่", factory: @current_user.factory).length%></span> / <span data-shiftcode-target="planCount"><%=@plantime.length%></span></div>
            <div>เวลากะ : <%=select_tag :shiftcode,options_from_collection_for_select(@shift_code.limit(48),:code_name,:code_name),data:{action:"shiftcode#select_shiftcode"}%></div>
        </div>
        <div id="actual_table3"class="minitabcontent" style="height: 400px; overflow: auto">    
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานเชือดไก่_c" style="height: 100%">
                    <% @history.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานเชือดไก่",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <%if User.find(row.user_id).shiftcodes.length > 0%>
                                    <%@code_name = User.find(row.user_id).shiftcodes.last.code_name%>
                                    <td class=<%="time_"+@code_name%>><%=@code_name%></td>
                                <% else%>
                                    <td>#</td>
                                <%end%>
                                <td><%= User.find(row.user_id).factory%></td>
                                <%unless row.ot_time.nil?%>
                                    <td><%=row.ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <%end%>
                            <%end%>
                        </tr>
                    <%end%>   
                </tbody>
            </table>
        </div>
        <div id="plan_table3"class="minitabcontent" style="height: 400px; overflow: auto">
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานเชือดไก่_c" style="height: 100%">
                    <% User.all.each do |each_user|%>
                        <% if each_user.role == "คนงานทั่วไป" && each_user.department == "งานเชือดไก่" && each_user.factory == @current_user.factory && each_user.id != @current_user.id %>  
                            <tr>
                                <td><%= each_user.name%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[0..1]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[3..4]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[6..7]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[9..10]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name%></td>
                                <td><%= each_user.factory%></td>
                                <% unless @plantime.find_by(user_id: each_user.id).nil? %>
                                    <td><%=@plantime.find_by(user_id: each_user.id).ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <% end %>
                            </tr>
                        <% end %>  
                    <% end %>                  
                </tbody>
            </table>
        </div>
        <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
            <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">เพิ่มพนักงาน</i><%end%>
        </div>
    </div>

    <!-- แช่แข็ง --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->    
    <div id="งานจัดเก็บและจ่ายสินค้าแช่แข็ง_p" class="tabcontent">
        <div class="tab">
            <button class="tablinks" type="button" onclick="opentable(event, 'plan_table4')" id="defaultOpen">PLAN</button>
            <button class="tablinks" type="button" onclick="opentable(event, 'actual_table4')">ACTAUL</button>
        </div>
        <div class="display-font h3 text-center" data-controller="shiftcode">
            <div>จำนวนพนักงาน(ที่มี/ต้องการ) <span data-shiftcode-target="actualCount"><%=@actual_time.where(department_name:"งานจัดเก็บและจ่ายสินค้าแช่แข็ง", factory: @current_user.factory).length%></span> / <span data-shiftcode-target="planCount"><%=@plantime.length%></span></div>
            <div>เวลากะ : <%=select_tag :shiftcode,options_from_collection_for_select(@shift_code.limit(48),:code_name,:code_name),data:{action:"shiftcode#select_shiftcode"}%></div>
        </div>
        <div id="actual_table4"class="minitabcontent" style="height: 400px; overflow: auto">    
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานจัดเก็บและจ่ายสินค้าแช่แข็ง_c" style="height: 100%">
                    <% @history.each do |row|%>
                        <tr id=<%= User.find(row.user_id).name%>>
                            <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานสินค้าแช่แข็ง",factory:@current_user.factory).length == 0%>
                                <td><%= User.find(row.user_id).name%></td>
                                <td><%= row.time_in.strftime("%H:%M:%S")%></td>
                                <% if row.time_out.nil?%>
                                    <td>#</td>
                                <% else %>
                                    <td><%= row.time_out.strftime("%H:%M:%S")%></td>
                                <% end %>
                                <%if User.find(row.user_id).shiftcodes.length > 0%>
                                    <%@code_name = User.find(row.user_id).shiftcodes.last.code_name%>
                                    <td class=<%="time_"+@code_name%>><%=@code_name%></td>
                                <% else%>
                                    <td>#</td>
                                <%end%>
                                <td><%= User.find(row.user_id).factory%></td>
                                <%unless row.ot_time.nil?%>
                                    <td><%=row.ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <%end%>
                            <%end%>
                        </tr>
                    <%end%>   
                </tbody>
            </table>
        </div>
        <div id="plan_table4"class="minitabcontent" style="height: 400px; overflow: auto">
            <table class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10' style="height: 400px">
                <thead>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เวลา-เข้า</th>
                    <th>เวลา-ออก</th>
                    <th>ช่วงเวลาทำงาน</th>
                    <th>โรงงาน</th>
                    <th>OT</th>
                </thead>
                <tbody id="งานจัดเก็บและจ่ายสินค้าแช่แข็ง_c" style="height: 100%">
                   <% User.all.each do |each_user|%>
                        <% if each_user.role == "คนงานทั่วไป" && each_user.department == "งานสินค้าแช่แข็ง" && each_user.factory == @current_user.factory && each_user.id != @current_user.id %>  
                            <tr>
                                <td><%= each_user.name%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[0..1]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[3..4]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name[6..7]+":"+each_user.shiftcodes.find_by(user_id: each_user.id).code_name[9..10]+":00"%></td>
                                <td><%= each_user.shiftcodes.find_by(user_id: each_user.id).code_name%></td>
                                <td><%= each_user.factory%></td>
                                <% unless @plantime.find_by(user_id: each_user.id).nil? %>
                                    <td><%=@plantime.find_by(user_id: each_user.id).ot_time.strftime("%H:%M")%></td>
                                <%else%>
                                    <td>#</td>
                                <% end %>
                            </tr>
                        <% end %>  
                    <% end %>                      
                </tbody>
            </table>
        </div>
        <div class="text-center"> <!-- d-flex align-items-center justify-content-center -->
            <%= link_to register_user_path do %><i class="bi bi-plus btn btn-primary col-6 mx-auto">เพิ่มพนักงาน</i><%end%>
        </div> 
    </div>

    <div class="text-center d-grid" style="position: fixed; bottom:0px; left:0px; right:0px; overflow:hidden">
        <%=link_to "จัดการเวลาทำงาน",manage_user_path,class:"btn btn-info display-font text-light"%>
    </div>    

    <!-- script -->
    <script> 
        //full page tab
        function openPage(pageName,elmnt,color) {
            var i, tabcontent, tablinks,department;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }
        window.onscroll = function() {myFunction()};
        
        //fixed tab
        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;
        function myFunction() {
            if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
            } else {
            header.classList.remove("sticky");
            }
        }

        //duo button (minitab content)
        function opentable(evt, tablename) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("minitabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tablename).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
        //document.getElementsByClassName('tablinks')[0].click()
    </script>

    
</body>
</html>