<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="app/assets/stylesheet/style.css.scss" rel="stylesheet">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap" rel="stylesheet">

        <title> worker </title>

        <script type="text/javascript"> 
            function display_c(){
                var refresh=1000; // Refresh rate in milli seconds
                mytime=setTimeout('display_ct()',refresh)
            }

            function display_ct() {
                var x = new Date()
                var x1="วันที่ : "+ x.getDate() + "/"+ (parseInt(x.getMonth(), 10)+1)   + "/" + x.getFullYear(); 
                x1 = x1 + " เวลา : " +  x.getHours( )+ ":" +  x.getMinutes() + ":" +  x.getSeconds();
                document.getElementById('ct').innerHTML = x1;
                display_c();
            }
            
        </script>
    </head>

<!---------------------------------------------------โปรไฟล์---------------------------------------------------------- -->
    <body onload=display_ct();>

    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-column flex-grow-1">
            <p></p>
            <div class="display-font"> ชื่อ-นามสกุล : <%=@current_user.name %> </div>
            <div class="display-font"> สถานที่ทำงาน : <%= @current_user.factory %></div>
            <div class="display-font"> แผนก : <%= @current_user.department %> </div>
            <div class="display-font"> เวลากะ :<%= @current_user.shiftcodes.find_by(user_id: current_user.id).code_name%></div>
            <p></p>
        </div>

        <div class="flex-grow-1 align-items-center">
            <h3 id='ct' class="display-font"></h3>
        </div>

        <div class="flex-grow-1 align-items-center">
            <% if @actual_time.where(user_id: @current_user.id).length == 0 %>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-success" id="logout-button" aria-hidden="true"> Check-IN </i>
            <%end%>
            <% else %>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-red" id="logout-button" aria-hidden="true"> Check-OUT </i>
                <% end %>
            <% end %>
        </div>
    </div>

<!-- -------------------------------------------------ปฏิทินคนเข้างาน---------------------------------------------------------- -->
         
    <h3 class="display-font text-center"> ปฏิทินบันทึกการทำงาน </h3>

    <%@event_do = []%>     
        <% @history.each do |u|%>
            <% if u.user_id == @current_user.id%>
                <% @event_do.push({
                                title: 'เวลาเข้า : '+@history.find_by(user_id: @current_user.id).time_in.strftime("%H:%M:%S"),
                                start: @history.find_by(user_id: @current_user.id).time_in.strftime("%Y-%m-%d"),
                                color: 'green',
                                textColor: 'black'
                                })%>
                <% unless u.time_out.nil?%>
                    <% @event_do.push({
                                    title: 'เวลาออก : '+@history.find_by(user_id: @current_user.id).time_out.strftime("%H:%M:%S"),
                                    start: @history.find_by(user_id: @current_user.id).time_out.strftime("%Y-%m-%d"),
                                    color: 'red',
                                    textColor: 'black'
                                    })%>
                <% end %>
                    <% unless @history.find_by(user_id: @current_user.id).ot_time.nil? %>
                        <% @event_do.push({
                                        title: 'OT : ' + @history.find_by(user_id: @current_user.id).ot_time.strftime("%H:%M:%S"),
                                        start: @history.find_by(user_id: @current_user.id).time_out.strftime("%Y-%m-%d"),
                                        color: 'orange',
                                        textColor: 'black'
                                        })%>
                    <% end %>
            <% end %>
        <% end %>
       
        <%= content_tag :div, nil, data: {controller: "calender" ,calender_param_value: @event_do.uniq.to_json} do %>
            <div id="calendar"></div>
        <% end %>
    </div> 
            
    </body>
</html>  
