<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>
    <div data-controller="checkbox">
    <%=form_tag do%>
        <div class="form-check">
            <button type="button" data-action="checkbox#checkAll">Select</button>
            <button type="button" data-action="checkbox#checkNone">Unselect</button>
            <%all_time = []%>
            <% for hour in (0..4)%>
                <%for min in (0..1)%>
                    <% all_time.push((hour.to_s+":"+(min*30).to_s))%>
                <%end%>
            <%end%>
            <%all_department = ['งานถอนขน','งานไก่ตกราว','งานเชือดไก่','งานสินค้าแช่แข็ง']%>
            <%=select_tag :ot_time,options_for_select(all_time),class:"ot",data:{action:"checkbox#setOvertime"}%>
        </div>

        <table id="work1" class="table table-striped table-light" border="1" width="50%" cellspacing='0' cellpadding='10'>
            <thead>
                <th>ชื่อ-นามสกุล</th>
                <th>แผนก</th>
                <th>OT time</th>
                <th>OT check</th>
            </thead>
            <tbody id="time_object">
                <% @actual_time.each do |row|%>
                    <tr class=<%= User.find(row.user_id).name%>>
                        <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',department: "งานถอนขน").length == 0%>
                            <td><%= User.find(row.user_id).name%></td>
                            <td><%=select_tag "department_[]",options_for_select(all_department),include_blank:"Move to",class:"department"%></td>
                            <td><%=select_tag "ot_time_[]",options_for_select(all_time),class:"ot",id:User.find(row.user_id).name%></td>
                            <td><%=check_box_tag "chk[]",row.user_id,false,id:User.find(row.user_id).name,data:{action:'change->checkbox#setStatusSelectTag',target:'checkbox.overtime'}%></td>
                        <%end%>      
                    </tr>
                <%end%>                       
            </tbody>
        </table>

        <%=link_to "ยกเลิก",main_page_path,class:"btn btn-danger"%>
        <%=submit_tag("ยืนยัน",class:"btn btn-success")%>
    <%end%>
    </div>
</body>
</html>