<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> cheif </title>
</head>
<body>
    <header>
        <div class="d-flex flex-row-reverse align-items-center">
    
            <%=link_to logout_path do%>
                <i class="bi bi-box-arrow-right btn btn-danger" id="logout-button" aria-hidden="true"> Logout </i>
            <%end%>
                
            <div class='flex-grow-1 text-center display-3' id="header-text" text-align="center">CPF schedule workplan</div>
        </div>
    </header>
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-column flex-grow-1">
            <div class="display-font"> ชื่อ-นามสกุล : <%=@current_user.name %> </div>
            <div class="display-font"> แผนก : <%= @current_user.department %> </div>
            <div class="display-font"> จำนวนแผนกที่ดูแล : <%= @current_user.factory %></div>
        </div>
        <div class="flex-grow-1 align-items-center">
            <% if @actual_time.where(user_id: @current_user.id).length == 0%>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-primary" id="logout-button" aria-hidden="true"> Check-IN </i>
            <%end%>
            <% else %>
                <%= link_to timestamp_path(@current_user) do%>
                    <i class="bi bi-chevron-double-right btn btn-danger" id="logout-button" aria-hidden="true"> Check-OUT </i>
                <% end %>
            <% end %>
        </div>
    </div>
    <div>
        <button class="tablink" onclick="openPage('work1', this, '#FF7B89')" id="defaultOpen">งานถอนขน</button>
        <button class="tablink" onclick="openPage('work2', this, '#8A5082')">งานไก่ตกราว</button>
        <button class="tablink" onclick="openPage('work3', this, '#758EB7')">งานเชือดไก่</button>
        <button class="tablink" onclick="openPage('work4', this, '#A5CAD2')">งานสินค้าแช่แข็ง</button>
    </div>
    <div>
        <div id="work1" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ)<%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานถอนขน").length%>/Plan %>
                <%=render "manage_plan_form"%>
            </div>
        </div>
        <div id="work2" class="tabcontent">
            <div class="display-font h3 text-center">
                จำนวนพนักงาน(ที่มี/ต้องการ)<%=User.where(role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานไก่ตกราว").length%>/Plan %>
            </div>
            <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานไก่ตกราว").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> 
        </div>
        <div id="work3" class="tabcontent">
            <%# <div class="display-font h3 text-center">จำนวนพนักงาน(ที่มี/ต้องการ)<%= Sector.find_by(department_name:"งานเชือดไก่").in_department%>/Plan</div> %>
            <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานเชือดไก่").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> 
        </div>

        <div id="work4" class="tabcontent">
            <%# <div class="display-font h3 text-center">จำนวนพนักงาน(ที่มี/ต้องการ)<%= Sector.find_by(department_name:"งานเชือดไก่").in_department%>/Plan</div> %>
            <% @actual_time.each do |row|%>
                <% unless User.where(id:row.user_id,role:'คนงานทั่วไป',factory:@current_user.factory,department:"งานสินค้าแช่แข็ง").length == 0%>
                    <div>
                        <%= User.find(row.user_id).name%>
                        <%= row.time_in%>
                    </div>
                <%end%>
            <%end%> 
        </div>
    </div> 
    <script>
        function openPage(pageName,elmnt,color) {
        var i, tabcontent, tablinks,department;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
        }
        document.getElementById("defaultOpen").click();
    </script>

</body>
</html>
